* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(1, 1, 37);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(30, 30, 65);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(133, 133, 216);
  font-size: 1.01rem;
}
main hr{
    border: 0;
    background: #929191;
    height: 1.2px;
    margin: 50px 80px;
}